$fontFamily : -apple-system, BlinkMacSystemFont,"Segoe UI", "Roboto", "Oxygen","Ubuntu", "Cantarell", "Fira Sans","Droid Sans", "Helvetica Neue", sans-serif;
@import '../css/variables.scss';
*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    overflow: hidden;
    background: #fff;
    margin-bottom: 8px;
    .logo{
        left: 20%;
        width: 30px;
        margin-left: 25px;
        margin-right: 19px;
    }
    input{
        width: 43rem;
        background: #f2f2f2;
        border: none;
        outline: none;
        height: 38px;
        margin-top: 15px;
        border-radius: 8px;
        padding-left: 40px;
        font-family:$fontFamily;
    }
    nav{
        margin-top: 15px;       
   }
    a{
        text-decoration:none;
        margin: 10px;
        color: #8e8e8e;
        font-weight: 700;
        font-size: 16px;
        font-family:$fontFamily;
    }
    nav :hover{
        background: #f2f2f2;
        border-radius: 15px;
        color: #333;
        font-weight: 700;
        font-size: 16px;
        font-family:$fontFamily;
    }
    .inputWithIcon{
        position: relative;
    }
    i{
        position: absolute;
        color: red;
        background-color: aqua;
        width: 30px;
        height: 30px;
    }
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.icons{
    widows: 22px;
    height: 22px;
}